h1 {
  color: blue;
}
h2 {
  text-align: center;
}
ul{
  font-weight: 00;
  color: purple;
}

body {
  background-color: Black;
  color: blue;
}

.crazy {
  color:	#00FF00;
  font-family: fantasy;
  font-style: oblique;
}

em {
  font-weight: 700;
  font-family: cursive;
  font-size: 40px;
}
